
.padding-top-100 {
    padding-top: 100px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-20 { 
    padding-top: 20px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-200 {
    margin-top: 200px;
}

.purple {
    color: #7510F7;
}

.navbar {
    background-color: white;
    font-size: 20px;
    padding-top: 20px;
}

.navbarAboutMe {
    color: black;
}

.navbarAboutMe:hover {
    text-decoration: none; 
    color: #7510F7;
}

.navbarSayHello {
    background-color: transparent;
    color: #7510F7;
    border-radius: 290486px;
    border: 2px solid #7510F7;
    margin-left: 30px;
    padding: 6px 12px;
}

.navbarSayHello:hover {
    text-decoration: none;
    border-radius: 290486px;
    color: white;
    background-color: #7510F7;
}

#welcome {
    background-color: white;
    max-width: 100%;
    height: 600px;
}

.title {
    font-weight: 700;
}

.subtitle {
    padding-top: 30px;
}

#introduction {
    background-color: #7510F7;
    width: 100%;
    height: 600px;
    color: white;
}

/* #parent {
    position: relative;
    height: 1000px;
} */

.aboutMe {
    font-size: 18px;
}

/* .workOverlay {
    position: absolute;
    top: 500px;
    margin: auto;
} */
#experience {
    max-height: 1600px;
}

.card-deck-margin {
    margin: auto;
}

.card {
    border-radius: 15px;
    width: 350px;
}

.card-title {
    font-weight: 600;
}

#recentWork {
    height: 1000px;
}